@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body
{
line-height: 1.5;
font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/road-background-speed-blur-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: 100%  ;
}
.background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.671);
    clip-path: circle(600px at right 800px);
}
.overlay
{
    background: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
header
{
    background: linear-gradient( rgba(255,255,255,0,1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 100px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: floralwhite;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
}
.wrapper ul li :hover
{
   color: #333;
}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox
{
    position: relative;
    max-width: 800px;
}
.content .textbox h2
{
    color: rgb(197, 197, 197);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textbox h2 span
{
    color: rgb(245, 245, 245);
    font-size: 1.2em;
    font-weight: 900;
}
.content .textbox p
{
 color: rgb(202, 202, 202);   
}
.content .textbox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgba(0, 0, 0, 0.911);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img
{
    max-width: 500px;
}
.gulong
{
    position: absolute;
    left: 38%;
    bottom: 20px;
    transform: translateX(-50px);
    display: flex;
}
.gulong li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.gulong li:hover
{
    transform: translateY(-15px);
}

.gulong li img
{
    max-width: 60px;
}

.socmed
{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.socmed li
{
    list-style: none;
}
.socmed li a img
{
    max-width: 50px;
}
.socmed li a
{
    display: inline-block;
    margin: 3px 0px;
    transform: scale(0.6);
}
.socmed li:hover
{
    transform: translateX(-15px);
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-image: url(images/bg_footer.jpg);
    padding: 70px 0;
    height: auto;
    padding-top: 40px;
}
.footer-col{
   width: 20%;
   padding: 0 10px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #d6cace;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.bottom
{
padding-top: 40px;
text-align: center;
}
.bottom p
{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
